router id {{ bird_router_id }};

{%  for filter in bird_filters | default([]) -%}
filter {{ filter.name }} {
  {{ filter.body }}
} 
{% endfor -%}

protocol device {
scan time {{ bird_device.scantime }};
export {{ bird_device.export }};
}


protocol kernel {
    scan time {{ bird_kernel.scantime }};
    import {{ bird_kernel.import }};
    export {{ bird_kernel.export }};
    merge paths {{ bird_kernel.mergepaths }};
    persist {{ bird_kernel.persist }};
    learn {{ bird_kernel.learn }};
}

protocol direct direct1 {
export {{ bird_direct.export }};
{% if bird_direct.import is defined -%} import {{ bird_direct.import }}; {% endif -%}
}

{% for listen in bird_bgp_listen %}
listen bgp address {{ listen.address }} port {{ listen.port | default('179') }};
{% endfor %}

{%  for option in bird_extra_options | default([]) -%}
{{ option }}  
{% endfor -%}



{% for bgp in bird_bgp_protocols %}
protocol bgp {{ bgp.name }} {
    description "{{ bgp.description  | default('') }}";
    local as {{ bgp.localas }};
    hold time {{ bgp.holdtime | default(30) }};
    keepalive time {{ bgp.keepalive | default(10) }};
    connect retry time {{ bgp.retry_time | default(10) }};
    error wait time {{ bgp.error_wait_time | default('10,60') }};
    {% for neighbor in bgp.neighbors -%}
    neighbor {{ neighbor.address }} as {{ neighbor.as }};
    {% endfor -%}
    {% if bgp.source_address is defined -%}
    source address {{ bgp.source_address }};
    {% endif -%}
    {% if bgp.rr_client is defined -%}
    rr client;
    {% endif -%}
    {% if bgp.rs_client is defined -%}
    rs client;
    {% endif -%}
    {% if bgp.rr_cluster_id is defined -%}
    rr cluster id {{ rr_cluster_id }};
    {% endif -%}
    {% if bgp.export is defined -%}
    export {{ bgp.export }};
    {% endif -%}
    {% if bgp.import is defined -%}
    import {{ bgp.import }};
    {% endif -%}
    {% if bgp.next_hop is defined -%}
     next hop {{ bgp.next_hop }};
    {% endif -%}
    {% if bgp.direct | default(False) -%}
     direct;
    {% endif -%}
    {%  for option in bgp.extra_options | default([]) -%}
    {{ option }}  
    {% endfor -%}
}   
{% endfor %}

{%  for option in bird_extra_protocols | default([]) -%}
{{ option }}  
{% endfor -%}